.searchPage {
  display: grid;
  grid-template-columns: minmax(90px, 97px) 1fr minmax(90px, 97px);


  &.isRollUp{
    background-color: gray;
    opacity: 0.8;
  }


  &__wait {
    display: grid;
    border: 1px solid #ffff7a;
    border-radius: 0 5px 5px 0;
    padding: 0 5px;
    margin-top: 30px;
    height: 80vh;
    align-content: start;
    justify-content: center;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {

      background-color: #ffff7a;
    }

    &__title {
      font-size: 16px;
      justify-self: center;
    }

    &__list {
      display: grid;
      grid-template-rows: repeat(auto-fit, minmax(80px, auto));
      gap: 5px;


      &__item {
        display: grid;
        align-items: center;
        padding: 5px;
        justify-items: center;
        border-radius: 10px;
        border: 1px solid #ffff00;
        cursor: pointer;

        &__photo {
          position: relative;
          width: 50px;
          height: 50px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &__online {
            position: absolute;
            top: 39px;
            right: 2px;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            background-color: cadetblue;
          }
        }

        &__name {
          display: grid;

        }

        &__city {
          display: grid;
          grid-template-columns: 15px auto;
          align-items: center;
          font-size: 12px;
          column-gap: 2px;


          p {
            width: 50px;
            overflow-x: hidden;
            position: relative;
          }

          p:after {
            /* hide */
            content: "";
            position: absolute;
            width: 10px;
            height: 100%;
            right: 0;
            top: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0086472) 6.67%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.0816599) 20%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255, 0.91834) 80%, rgba(255, 255, 255, 0.96449) 86.67%, rgba(255, 255, 255, 0.991353) 93.33%, white 100%);
          }

          svg {
            width: 15px;
          }


        }
      }
    }
  }

  &__content {
    display: grid;
    background-color: yellow;
    //align-items: center;
    //justify-items: center;

    &__item {
      position: relative;
      width: 80vw;
      height: 80vh;

      img {
        position: absolute;
        border-radius: 15px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &__search {


        &__dropzone {
          display: grid;


          &__area {
            margin-top: 20px;
            width: 100%;
            height: 400px;
            border: 5px dashed white;
            display: grid;
            align-items: center;
            font-size: 24px;
            color: white;
            justify-items: center;

            p {
              background-color: gray;
              padding: 5px;
              border-radius: 10px;
              opacity: 0.7;
            }
          }

          &__move {
            margin-top: 20px;
            width: 100%;
            height: 400px;
            display: grid;
            font-size: 24px;
            color: white;


            &__preview{
              display: grid;
              grid-template-columns: repeat(auto-fill,120px);
              gap:10px;

              &__item{
                display: grid;
                align-items: center;
                justify-items: center;
                width: 120px;
                height: 120px;
                border-radius: 10px;
                background-color: white;

                &__image{
                  position: relative;
                  width: 100px;
                  height: 100px;
                  cursor: pointer;
                  img{
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                  }

                  &__icon{
                    position: absolute;

                    right: 5px;
                    bottom: 5px;
                    color: #ff5659;
                    background-color: white;
                    border: 1px solid #ff5659;
                    padding: 2px;
                    border-radius: 6px;

                  }
                }
              }
            }

            &__title {
              display: grid;
              width: 100%;
              height: 100%;
              justify-items: center;
              align-items: center;
              background-color: gray;
              padding: 5px;
              border-radius: 10px;
              opacity: 0.7;
            }
          }


        }


      }

    }

  }

  &__ready {
    display: grid;
    border: 1px solid #90ff77;
    border-radius: 5px 0 0 5px;
    padding: 0 5px;
    margin-top: 30px;
    height: 80vh;
    align-content: start;
    justify-content: center;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {

      background-color: #90ff77;
    }

    &__title {
      display: grid;
      grid-template-columns: 15px auto;
      column-gap: 5px;
      font-size: 16px;
      justify-self: center;

      svg {
        width: 15px;
      }

    }

    &__list {
      display: grid;
      grid-template-rows: repeat(auto-fit, minmax(80px, auto));
      gap: 5px;


      &__item {
        display: grid;
        align-items: center;
        padding: 5px;
        justify-items: center;
        border-radius: 10px;
        border: 1px solid #90ff77;
        cursor: pointer;

        &__photo {
          position: relative;
          width: 50px;
          height: 50px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &__online {
            position: absolute;
            top: 39px;
            right: 2px;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            background-color: cadetblue;
          }
        }

        &__name {
          display: grid;

        }

        &__city {
          display: grid;
          grid-template-columns: 15px auto;
          align-items: center;
          font-size: 12px;
          column-gap: 2px;


          p {
            width: 50px;
            overflow-x: hidden;
            position: relative;
          }

          p:after {
            /* hide */
            content: "";
            position: absolute;
            width: 10px;
            height: 100%;
            right: 0;
            top: 0;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0086472) 6.67%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.0816599) 20%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255, 0.91834) 80%, rgba(255, 255, 255, 0.96449) 86.67%, rgba(255, 255, 255, 0.991353) 93.33%, white 100%);
          }

          svg {
            width: 15px;
          }


        }
      }
    }
  }

}
